<div class="container-fluid advertising">
  <div class="container justify-content-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard Responsive -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="{{ site.google.adsense.client }}"
      data-ad-slot="{{ site.google.adsense.slot }}"
      data-ad-format="{{ google.adsense.format }}"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>