<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<base target="_blank" />
<link rel="icon" type="image/x-icon" href="{{ site.assets.img }}{{ 'logo.ico?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.assets.css }}{{ 'bootstrap.flatly.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.assets.css }}{{ 'style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.assets.css }}{{ 'core.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.assets.css }}{{ 'overrides.flatly.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.assets.css }}{{ 'content-only.css?v=' | append: site.github.build_revision | relative_url }}">
{% seo %}